
.expand {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
}

.sorryface {
	height: 100px;
	width: 100px;
}

.chatview {
	height: 100vh;
}

.sidenav .header {
	color: #FFFFFF;
}


#chatRoomContainer {
	width:100%;
	padding: 0px 5px;
}

.GroupChat {
	float: right;
	padding-right: 300px;
	padding-top: 100px;
}

.GroupChat h1 {
	font-family: cursive;
}

#chatFeed {
	background-color:#FFFFFF;
	height: 100vh;
}

.messages {
  	overflow-y: scroll;
	background-color: #FFFFFF;
	height: calc(100vh - 65px);
}

.sidebar {
	background-color: #FC4445;
	border: solid 3px;
	min-width: 300px;
}

.nav .nav-link,
.nav .nav-header {
	border-radius: 0px 5px 5px 0px;
	color: #3E313C;
}

.navbar-toggler{
	color: #FFFFFF;
}

.navbar-toggler:focus{
	outline: 0;
}

/* change navbar-toggler inside lines color (stroke) */
.navbar span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* change hamburger button border color */
button.navbar-toggler.navbar-toggler-right {
  border-color: black;
}

.nav .active {
	background-color: #CAFAFE;
	color: #3E313C;
	border: solid 3px #0E0B16;
}

.nav .nav-link:hover:not(.active) {
	background-color: #b00303;
	color: #FFFFFF;
}

.icon-button {
	background-color: #FC4445;
	border-style: none;
	color: #3E313C;
}

.icon-button:hover {
	color: #FFFFFF;
}

.icon-button:focus {
  outline: none;
}

#input {
	position: absolute;
    bottom: 0;
    width: 95%;
	margin-bottom: 10px;
}


.message-color {
  color: #0E0B16;
}

.btn-primary {
	background-color: #FC4445;
	border: solid 3px #0E0B16;
	border-radius: 25px;
	margin: 0;
}

.btn-primary:hover {
	background-color: #b00303;
	border: solid 3px #0E0B16;
}

.jumbotron {
	background-color: #CAFAFE;
	color: #0E0B16;
	border-radius: 0;
}

.navbar {
	background-color: #FC4445;
	border: solid 3px;
}

a {
	color: #0E0B16;
}

a:hover, a:focus {
	color: #CAFAFE;
}

.navbar-nav .nav-link:hover {
	background-color: #FC4445;
	color: #CAFAFE;
	border-radius: 5px;
}

.navbar-nav .nav-link:focus {
	background-color: #FC4445;
	color: #CAFAFE;
	border-radius: 5px;
}

.form {
	max-width: 450px;
}

.logo {
	height: 75px;
	margin: 25px;

}

@media (max-width: 425px) {

	.expand {
		font-size: 10px;
		top: auto;
		margin-top: -100px;

	}
	.logo {
		height: 25px;
		margin: 15px;

	}
	.display-3 {
		font-size: 40px;
	}
.display-1 {
	font-size: 40px;
}


}
