

#navbarNavAltMarkup {

	color: white;
}

#nav1 {
	float: right;
	color: red;
}

#signIn {
	margin-top: 50px;
	text-align: center;

}

.form-group {

	padding-left: 400px;
	padding-right: 400px;

}

#email {
	margin-top: 80px;
}

#btn {
	margin-top: 25px;
	margin-bottom: 80px;
}
#label1 {
	margin-top: 10px;

}
#btn1 {
	margin-left: 400px;
	margin-bottom: 25px;
}

#signUp {
	margin-top: 50px;
	text-align: center;
}
#GroupChat{
	margin-top: 50px;
	text-align: center;
}
#GroupChat1 {
	margin-top: 80px;
}

#img1 {
	height: 150px;
    width: 150px;
		margin-right: 25px;
}
#welcome {
	text-align: left;
	color: #FFA500;
	margin-top: 100px;

}
#welcome2 {
	text-align: right;;
	color: #FFA500;
	margin-top: 100px;

}
#img3 {
	height: 150px;
    width: 150px;
		margin-right: 25px;
}

#chatroom {
	float: left;
}




#name_prompt {
	background-color: red;
	box-shadow: 0 0 5px #d1d1d1;
	margin: 20px;
	padding: 20px;

}
