
.banner1 {
	background: url(../img/banner.jpg);
	height: 250px;
	background-size: cover;
	background-position: center;
}

.banner2 {
	background: url(../img/img2.jpg);
	background-repeat: no-repeat;
	height: 500px;
	background-position: top center;
}
.sorryface {
	height: 100px;
	width: 100px;
}
#signOutContainer {
	padding-top: 150px;
	padding-left: 300px;
}

.sidebar {
	height: 100vh;
}

.sidenav div {
	color: white;
}

#signOutContainer h1 {
	font-family: monospace;
	font-style: oblique;
	font-variant: small-caps;
}

#chatRoomContainer {
	width:100%;
	padding: 0px 5px;
}

.GroupChat {
	float: right;
	padding-right: 300px;
	padding-top: 100px;
}
.GroupChat h1 {
	font-family: cursive;
}
#buttonCreateGroup {
	float: right;
	margin-top: 10px;
}

.sidenav {
	float: left;
	width: 250px;
	height: 100%;
	margin-right: 30px;
	margin-left : 5px;
}

#chatFeed {
	background-color:#fff;
	height: 100vh;
}

.messages {
  	overflow-y: scroll;
		margin-bottom: 60px;
}

.chat-color {
	background: #4D394B;
}

.nav .nav-link,
.nav .nav-header {
	border-radius: 0px 5px 5px 0px;
	color: #AB9BA9;
}

.nav .active {
	background: #4C9689;
	color: #FFFFFF;
}

.nav .nav-link:hover:not(.active) {
	background: #3E313C;
}

.sign {
	margin-top: 50px;
	text-align: center;
	background-color: #008B8B;
	color: white;
	font-family: fantasy;
	font-size: 15px;
}

#signContainer {
	margin-top: 100px;

	float: right;
}

#input {
	position: absolute;
    bottom: 0;
    width: 95%;
		margin-bottom: 10px;
}
